body {
  background-color: #BCCCB0;
  font-size: 100%;
  font-family: Roboto;
    height: 100vh;
}
/*

.header {
  padding: 5em 3em;
  margin-bottom: 3em;
  text-align: left;
  font-family: Roboto Slab;
  background: #D9D9D9;
}

 add on to existing bootstrap CSS styling 
.container {
  margin-top: 2em;
  margin-bottom: 4em;
  
}


#bootstrap-basics .showBackground {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(198, 180, 255, 0.3);
  border: 2px solid rgba(198, 180, 255, 0.5);
  font-family: monospace;
}
.row text-center{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #B9B9B9;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-border-color: #555555;
  --bs-btn-hover-bg: #555555;
  border-radius: 1rem;      
  padding: 0.4rem 1rem;  
  margin: 0.25rem;   
}

.invisible {
  display: none;
}*/
