/************************************************************/
/*  BASIC LAYOUT                                            */
/************************************************************/

/*      RESET      */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

/*      FONTS          */

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral.ttf");
    font-weight: normal;
    font-style: normal;
}


/*      VARIABLES      */

:root {
    
    /* Color */
    
    
    /* Size */

    
    /* Transition */

}
/************************************************************/
/*  Loadding Page                                           */
/************************************************************/
.load-back {
    background-image: url('loadscreen.png');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center top;
    height: 100vh;
    margin: 0;
    animation: panDown 10s linear ; 
}

@keyframes panDown {
    0% {background-position: center bottom;}
    100% {background-position: center top;}
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }


.btn {
    padding: 15px 15px;
    background-color: #DDA059;
    color: #6B3710;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}
.btn:hover {
    background-color: #3f2008;
    transform: scale(1.05);
}

.icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
/************************************************************/
/*  BASIC LAYOUT END                                        */
/************************************************************/

body {
/*  background-color: #BCCCB0;*/
    background: white;
  font-size: 100%;
  font-family: Roboto;
    height: 100vh;
}


/* Crop Card */

#crops-encyclopedia {
    width: 100%;
    display: flex;
}


#seasons {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.season {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: calc(50% - 12px); 
    margin: 6px
}

.season h3 {
    width: 100%;
}

.season .item {
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    background: white;
    border: 1px lightgray solid;
    padding: 6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.season p {
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
    background: white;
    padding: 1ch;
    position: absolute;
    z-index: 1;
    top: 36px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px 2px 8px gray);
}
.season p::before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent white transparent;
    top: -24px;
    position: absolute;
}

.season .item:hover, .season .item.active {
    background: lightgray;
}
.season .item:not(.active):hover p {
    opacity: 1;
}


#crop-card {
    background: white;
    padding: 1ch;
    width: 50%;
}

.prices {
    display: flex;
}
.prices > * {
    max-width: 25%;
}




/*

.header {
  padding: 5em 3em;
  margin-bottom: 3em;
  text-align: left;
  font-family: Roboto Slab;
  background: #D9D9D9;
}

 add on to existing bootstrap CSS styling 
.container {
  margin-top: 2em;
  margin-bottom: 4em;
  
}


#bootstrap-basics .showBackground {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(198, 180, 255, 0.3);
  border: 2px solid rgba(198, 180, 255, 0.5);
  font-family: monospace;
}
.row text-center{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #B9B9B9;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-border-color: #555555;
  --bs-btn-hover-bg: #555555;
  border-radius: 1rem;      
  padding: 0.4rem 1rem;  
  margin: 0.25rem;   
}

.invisible {
  display: none;
}*/
