/************************************************************/
/*  Animals                                                 */
/************************************************************/
#standard span {
   font-size: inherit;
}
