/************************************************************/
/*  Animals                                                 */
/************************************************************/
:root {
    --item-cell: calc(((30vw - 24px) / 8) - 2px );
}
#standard span {
   font-size: inherit;
}
