/************************************************************/
/*  Crops                                                   */
/************************************************************/

#observablehq-viewof-selectCrop-3f8b5a92 {
    display: none;
    visibility: hidden;
}

#processing div {
    margin-bottom: 1rem;
}