/************************************************************/
/*  Crops                                                   */
/************************************************************/

#observablehq-viewof-selectCrop-3f8b5a92 {
    display: none;
    visibility: hidden;
}

#quick-look {
    width: 100%;
    display: flex;
}


.season {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 6px
}

.season h3 {
    width: 100%;
}

.season .item {
    width: 36px;
    height: 36px;
    flex: 0 0 36px;
    background: white;
    border: 1px lightgray solid;
    padding: 6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.season p {
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
    background: white;
    padding: 1ch;
    position: absolute;
    z-index: 1;
    top: 36px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px 2px 8px gray);
}
.season p::before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent white transparent;
    top: -24px;
    position: absolute;
}

.season .item:hover, .season .item.active {
    background: lightgray;
}
.season .item:not(.active):hover p {
    opacity: 1;
}


#crop-card {
    background: white;
    padding: 1ch;
    width: 100%;
    display: flex;
}

#harvest {
    margin-top: 1rem;
}

