/************************************************************/
/*  Crops                                                   */
/************************************************************/
#max {
    margin-top: 1rem;
}

