/************************************************************/
/*  Fish                                                 */
/************************************************************/
#max {
    margin-top: 1rem;
}

#observablehq-fishLocations-5b0ac705 {
    background: none;
    padding: 0;
}

