/************************************************************/
/*  Fish                                                 */
/************************************************************/

#observablehq-viewof-selectFish-7514c282 {
    display: none;
    visibility: hidden;
}

