/************************************************************/
/*  Loadding Page                                           */
/************************************************************/
body {
    width: 100%;
    height: 100vw;
    overflow: hidden;
    background-image: url('../layout/loadscreen.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
    margin: 0;
    animation: panDown 5s linear ;
}

svg {
    max-width: unset;
}


@keyframes panDown {
    0% {background-position: center bottom;}
    100% {background-position: center top;}
}

.titlecard-container {
    display: flex;
    justify-content: center;  
    align-items: center;    
    overflow: hidden ;
}
.titlecard-container img {
    padding: 15px;
    transform: translateY(-100%);
    animation: imageSlideIn 5s ease-out forwards;
}

@keyframes imageSlideIn {
    to { transform: translateY(0);}
}

.btn {
    padding: 15px 15px;
    margin: 20px 20px;
    cursor: pointer;


}


.icons {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons-container {
    display: flex;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container svg {
    position: absolute;
    pointer-events: none;
    z-index: -1;
}
