/************************************************************/
/*  Reset                                                   */
/************************************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

/*      FONTS          */

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral.ttf");
    font-weight: normal;
    font-style: normal;
}


/*      VARIABLES      */

:root {
    
    /* Color */
    
    
    /* Size */
    --item-cell: calc(((20vw - 24px) / 7) - 4px);
    
    /* Transition */

}

/************************************************************/
/*  Basic Layout                                            */
/************************************************************/

body {
/*  background-color: #BCCCB0;*/
    background: white;
  font-size: 100%;
  font-family: Roboto;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}


aside, main {
    margin: 0;
    padding: 12px;
}

/*
header {
    width: 100%;
    padding-left: 20vw;
    background: white;
}
*/

aside {
    width: 20vw;
    position: fixed;
}

main {
    width: 60vw;
    margin: 0 auto;
}

#quick-look {
    width: 100%;
    display: flex;
}
#all-items {
    right: 0;
}

/************************************************************/
/*  Item Grid                                            */
/************************************************************/

/*
#seasons {
    display: flex;
}
*/

.season {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 1rem;
}

.season h3 {
    width: 100%;
}

.season .item {
    width: var(--item-cell);
    height: var(--item-cell);
    flex: 0 0 var(--item-cell);
    background: white;
    border: 1px lightgray solid;
    padding: 6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.season p {
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
    background: white;
    padding: 1ch;
    position: absolute;
    z-index: 1;
    top: 36px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px 2px 8px gray);
}
.season p::before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent white transparent;
    top: -24px;
    position: absolute;
}

.season .item:hover, .season .item.active {
    background: lightgray;
}
.season .item:not(.active):hover p {
    opacity: 1;
}

/************************************************************/
/*  Item Facts                                            */
/************************************************************/

#quick-look {
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
}

.stat-box, .stat-line {
    font-variant: small-caps;
    text-transform: lowercase;
    line-height: .8;
    border: 1px solid gray;
    padding: 6px;
    vertical-align: top;
}
.stat-box {
    text-align: center;
    width: 8ch;
}
.stat-box span {
    display: block;
    font-size: 1.5rem;
    padding-top: 6px;
}
.stat-line {
    text-align: left;

}
.stat-line span {
    display: inline;
    font-size: .8rem;
}


#basic {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}
#basic img {
    width: 50px;
}

#details > div {
    margin-bottom: 1rem;
}





