/************************************************************/
/*  Reset                                                   */
/************************************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

/*      FONTS          */

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral.ttf");
    font-weight: normal;
    font-style: normal;
}


/*      VARIABLES      */

:root {
    
    /* Color */
    
    
    /* Size */

    
    /* Transition */

}

/************************************************************/
/*  Basic Layout                                            */
/************************************************************/

body {
/*  background-color: #BCCCB0;*/
    background: white;
  font-size: 100%;
  font-family: Roboto;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    padding-right: 25vw;
    position: fixed;
}

aside {
    width: 25vw;
    position: fixed;
    right: 0;
}

main {
    width: 75vw;
}

#quick-look {
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    background: white;
}

.stat-cell {
    font-variant: small-caps;
    text-transform: lowercase;
    text-align: center;
    max-width: 10ch;
    line-height: .8;
    border: 1px solid gray;
    padding: 6px;
    vertical-align: top;
}
.stat-cell span {
    display: block;
    font-size: 1.5rem;
    padding-top: 6px;
}

#basic {
    width: 100%;
}

#details {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}
#basic img {
    width: 25%;
}


.prices > *::before {
    display: inline-block;
    margin-right: 4px; 
}

.prices > *:nth-child(2)::before {
    content: url('../icons/stars/silver.png');
}
.prices > *:nth-child(3)::before {
    content: url('../icons/stars/gold.png');
}
.prices > *:nth-child(4)::before {
    content: url('../icons/stars/iridium.png');
}

#processing .stat-cell {
    text-align: left;
    width: 14ch;
    white-space: nowrap;
    max-width: unset;
}
#processing .stat-cell span {
    display: inline;
    font-size: .8rem;
}


