/************************************************************/
/*  Reset                                                   */
/************************************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

/*      FONTS          */

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral.ttf");
    font-weight: normal;
    font-style: normal;
}

h4 {
    font-size: 24px;
}


/*      VARIABLES      */

:root {
    
    /* Color */
    --silver: #EBEBEB;
    --gold: #F8EFDD;
    --iridium: #E8E0F6;
    
    --gray: #929292;
    --offwhite: #F9F5F1;
    
    --textbrown: #4E3A2C;
    
    
    /* Size */
    --quick-look-width: 320px;
    --items-panel-width: 30vw;
    --main-width: calc(100% - var(--items-panel-width) - var(--quick-look-width));
    
    
    --item-cell: calc(((30vw - 24px) / 12) + 1px);
    
    --padding-sm: 4px;
    
    /* Transition */

}

/************************************************************/
/*  Basic Layout                                            */
/************************************************************/

body {
    /*  background-color: #BCCCB0;*/
    background: white;
    color: var(--textbrown);
    font-size: 100%;
    font-family: Roboto;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.wrapper {
    display: flex;
    position: relative;
}

aside, main {
    margin: 0;
    height: 100vh;
    position: relative;
}

main {
    flex: 1 1 var(--main-width);
    padding: 12px;
    min-width: 0%;
}

aside:first-child {
    width:  var(--quick-look-width);
    flex: 0 0 var(--quick-look-width);
}
aside:last-child {
    flex: 0 0 var(--items-panel-width);
}

#quick-look, #all-items {
    padding: 12px;
    position: fixed;
    height: 100%;
    background: var(--offwhite);
}

#quick-look {
    width: var(--quick-look-width);
    overflow-y: auto;
}
#all-items {
    display: flex;
    max-width: var(--items-panel-width);
    right: 0;
}



/************************************************************/
/*  Item Grid                                            */
/************************************************************/

#seasons {
    max-height: 100vh;
}

.season {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 1rem;
    position: relative;
    overflow-x: visible;
}

.season h3 {
    width: 100%;
}

.season .item {
    width: var(--item-cell);
    height: var(--item-cell);
    min-width: 18px;
    min-height: 18px;
    flex: 0 0 var(--item-cell);
    border: 1px var(--silver) solid;
    background: white;
    padding: var(--padding-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: -1px;
    margin-top: -1px;
}
.season p {
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
    padding: 1ch;
    position: absolute;
    z-index: 100;
    top: 36px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    background: white;
    filter: drop-shadow(2px 2px 2px var(--gray));
}
.season .item, .season img, .season p {
    transition: all .2s ease;
}

/*tooltip arrow*/
.season p::before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent white transparent;
    top: -24px;
    position: absolute;
}

.season .item:hover, .season .item.active {
    background: var(--silver);
}
.season .item:hover img, .season .item.active img {
    opacity: .5
}
.season .item:hover p {
    opacity: 1;
}

/************************************************************/
/*  Item Facts                                            */
/************************************************************/

#quick-look {
    text-transform: capitalize;
}

#standard p, .prices td {
    font-variant: small-caps;
    text-transform: lowercase;
    line-height: .8;
    border: 1px solid var(--gray);
    padding: var(--padding-sm);
    vertical-align: top;
}
#standard p {
    text-align: center;
    width: calc(25% - 2px);
}
#standard span {
    display: block;
    font-size: 1.25rem;
    padding-top: var(--padding-sm);
}
.prices td, #harvest p, #max p {
    width: 100%;
    text-align: left;
    margin-bottom: 2px;

}
.prices td span, #harvest p span, #max p span {
    display: inline;
    font-size: .8rem;
}

#details {
    width: 100%;
}

#basic {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}
#basic img {
    width: 50px;
    margin-right: var(--padding-sm);
}

#details > div {
    margin-bottom: 1rem;
}

#standard .prices {
    display: flex;
    justify-content: space-between;
}

.prices {
    width: 100%;
    margin-bottom: 2px;
}

.prices td {
    width: 33.3%;
}

.prices span:after, #max span:after{
    content: 'g';
    text-transform: lowercase;
}

#processing div {
    margin-bottom: 1rem;
}

#quick-look table {
    border-collapse: collapse;
}

#details .prices span {
    font-weight: 600;
}

/* Add  Color */
.silver {
    background: var(--silver);
}
.gold {
    background: var(--gold);
}
.iridium {
    background: var(--iridium);
}

.not-applicable td, .not-applicable span {
    color: var(--gray);
    font-weight: normal;
}
.not-applicable .silver, .not-applicable .gold, .not-applicable .iridium {
    background: none;
}


/************************************************************/
/*  Other                                            */
/************************************************************/

/*Hide Dropdown*/
main > .container:nth-child(2) > div:first-child {
    display: none;
    visibility: hidden;
}

#standard .caption {
    font-variant: none;
    font-size: .8rem;
    line-height: 1;
    text-transform: none;
    border: none;
    padding: 0;
}


.btn {
    width: 100%;
    padding: 12px;
    background: url('../layout/btn-bg.png') no-repeat center;
    background-size: contain;
    color:#CE5252; 
    display: inline-block;
    text-align: center;
    text-decoration: none;
    filter: unset;
}
.btn:hover {
    filter: brightness(120%);
}




