/************************************************************/
/*  Reset                                                   */
/************************************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

/*      FONTS          */

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral.ttf");
    font-weight: normal;
    font-style: normal;
}


/*      VARIABLES      */

:root {
    
    /* Color */
    
    
    /* Size */

    
    /* Transition */

}

/************************************************************/
/*  Basic Layout                                            */
/************************************************************/

body {
/*  background-color: #BCCCB0;*/
    background: white;
  font-size: 100%;
  font-family: Roboto;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    padding-right: 25%;
    position: fixed;
}

aside {
    width: 25%;
    position: fixed;
    right: 0;
}

main {
    width: 75%;
}



.prices {
    width: 100%;
    display: flex;
}

.prices > *::before {
    display: inline-block;
    margin-right: 4px; 
}

.prices > *:nth-child(2)::before {
    content: url('../icons/stars/silver.png');
}
.prices > *:nth-child(3)::before {
    content: url('../icons/stars/gold.png');
}
.prices > *:nth-child(4)::before {
    content: url('../icons/stars/iridium.png');
}


